#contact {
    font-size: 100px;
    position: relative;
    top: 1%;
    font-family: 'Poppins', sans-serif;
    left: 35%
}

.topdiv {
    height: 475px;
    align-items: center;
    vertical-align: middle;
    background: linear-gradient(to right, #595cff, #c6f8ff);
    display: flex;
}

*{
    margin: 0%;
    padding: 0%;
}

.bottomleftdiv {
    display: flex;
    float: left;
}

.bottomrightdiv {
    display: flex;
    float: right;
}

.bottomrightdiv > h1 {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    right: 345px;
    top: 537px;
}

#logo {
    height: 428px;
    margin-left: 53px;
    margin-top: 32px;
}

#email {
    position:absolute;
    font-family: 'Poppins', sans-serif;
    right: 927px;
    top: 634px;
}

#ID{
    position: absolute;
    right: 657px;
    top: 639px;
}

#number {
    position: absolute;
    right: 722px;
    top: 687px;
    font-family:'Poppins', sans-serif;
}

#address {
    font-family: 'Poppins', sans-serif ;
    
}